<div id="images-container" class="well">

    <div class="form-search">
        <input type="text" class="input-medium search-query">
        <button class="btn">Search</button>
    </div>


    <div id="images-scroll" class="scrollable vertical">
        <div class="items">
            {% for image in images %}
                <a>
                    <img src="{{ image.image.url }}" height="{{ image_height }}" alt="{{ image.alt_text }}" title="{{ image.name }}">
                </a>
           {% endfor %}
        </div>
    </div>
</div>

{% body_scripts "images:images,images:scrollable" %}
{% style_tags "images:basic" %}

