.images {
    margin-top:10px;
    padding-top:5px;
}

#images-container {
    margin-top:10px;
    /*height: 90px;*/
    /*overflow-x: auto;*/
}

#images-scroll div {
    /*width: 2000px;*/
    margin: 0px;
}

#images-scroll a {
    margin-right: 10px;
}

#images-container a {
    cursor: pointer;
}

#images-container .form-search {
    margin-bottom: 10px;
}
